@DG__columns:                 12;



#G() {

  .create(
    @columns: @DG__columns
  ) {

    // Make an object for the grid
    @grid: {
      columns:                @columns;
    };

    #G._getVars(@grid);

    #G._widths(@grid);

  }

  // Generated props for item
  

  // Private Mixins
  // =============================================================================

  ._widths(@grid) {
    
    .for(@i: 1, @n: 12) {
      .col-@{i} {
          width: @i * 100% / 12;
      }
    }

  }

  ._getVars(@grid) {
    // Used to expose ruleset to local scope and provide additional vars
    @columns: @grid[columns];
  }
}

#G.create(
  @columns:                   12
);