<!-- 
================================================================================
Menu - Data attribute 
================================================================================

Version:            1.0.0

Description:        This version of the menu will output the full menu and all
                    children. Menu meta into a data attribute:
                    - active
                    - hasChildren
                    - hasActive
                    - level
  
Params:
- menu              array     Menu array to run the template on
- children          boolean   Whether or not to include children
- classname         string    Base classname for menu
- attribute         string    Base classname for menu
- loopcount         integer   Number to start the depth of the loop at (this is superficial for styling classname purposes) 

-->

{{ $currentNode := .currentNode -}}
{{ $loopCount := .loopCount -}}
{{ $var := .currentNode.Scratch }}

{{ $classname := default "nav" .classname -}}
{{ $item := print $classname "__" "item" -}}
{{ $link := print $classname "__" "link" -}}
{{ $withChildren := default true .children }}
{{ $attr := default "data-menu" .attribute }}

<ul 
  class="{{ $classname }}__menu" 
  {{ $attr | safeHTMLAttr }}="level: {{ $loopCount }}"
>
  {{ range $index, $element := .menu -}}

    {{ $isCurrent := $currentNode.IsMenuCurrent "main" . -}}
    {{ $hasCurrent := $currentNode.HasMenuCurrent "main" . -}}
    {{ $classes := print $item " " (cond $isCurrent (print $item "--active ") "") -}}
    {{ $classesLink := print $link " " (cond $isCurrent (print $link "--active ") "") -}}

    <li 
      class="{{ $classes }}" 
      {{ $attr | safeHTMLAttr }}="active: {{ $isCurrent }}, hasActive: {{ $hasCurrent }}, hasChildren: {{ .HasChildren }}, level: {{ $loopCount }}"
    >
      <a 
        href="{{ .URL | safeURL }}" 
        class="{{ $classesLink }}"
      >
        {{ .Name }}
      </a>
        {{ if and .HasChildren $withChildren -}}

          {{ $var.Delete    "menuData" }}
          {{ $var.SetInMap  "menuData"  "menu" .Children }}
          {{ $var.SetInMap  "menuData"  "currentNode" $currentNode }}
          {{ $var.SetInMap  "menuData"  "loopCount" ($loopCount | add 1) }}
          {{ $var.SetInMap  "menuData"  "classname" $classname }}
          {{ $var.SetInMap  "menuData"  "attribute" $attr }}

          {{ partial "menu.html" ($var.Get "menuData") -}}
        {{ end -}}
      </li>
  {{end}} 
</ul>