{{ $pageid := .Params.pageid }}
{{ $siteUrl := .Site.BaseURL }}

<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  {{ partial "head.html" . }}
  <body class="in-{{ .Section | urlize }}">

    <header class="section site-header">
        {{/* <img src="/img/logo--lex-blue.png" alt="Logo"> */}}
        <a href="/">
          <span class="site-header__logo"></span>
          <h2>
            <span class="site-header__name">Lex Semenenko</span>
            <span class="site-header__title">Front-End & Web Developer</span>
          </h2>
        </a>
    </header>

    <div class="layout__wrapper">
      <div class="menu-main layout__menu-main">
        {{ block "menu-main" . }}
          {{ if false }}
            {{ partial "menu/menu--main.html" (dict "menu" .Site.Menus.main "currentNode" . "loopCount" 1) }}
          {{ end }}
        {{ end }}
      </div>

      <main class="site-main layout__site-main">
        <div class="container">
          {{ block "content" . }}{{ end }}
        </div>
      </main>
    </div>


    {{ partial "scripts-footer.html" . }}
    
    {{/* <!-- {{ blo ck "scripts-inline" . }}{{ end }} --> */}}
  </body>
</html> 