{{ $pageid := .Params.pageid }}
{{ $siteUrl := .Site.BaseURL }}

<!doctype html>
<html lang="en">
  {{ partial "head.html" . }}
  <body class="in-{{ .Section | urlize }}">

    <header class="site-header">
      <div class="container">
        Logo
      </div>
    </header>

    <div class="layout__wrapper">
      <div class="menu-main layout__menu-main">
        {{ block "menu-main" . }}
          {{ partial "menu/menu--main.html" (dict "menu" .Site.Menus.main "currentNode" . "loopCount" 1) }}
        {{ end }}
      </div>

      <main class="site-main layout__site-main">
        <div class="container">
          {{ block "content" . }}{{ end }}
        </div>
      </main>
    </div>

    {{/* <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> */}}
    <script src="/js/scripts.js"></script>
    {{ block "scripts-inline" . }}{{ end }}
  </body>
</html> 