// Var Overrides
// =============================================================================

@hero-background-color:       lighten(#e1f0fb, 2%);
@hero-link-color-hover:       darken(lightslategray, 5%);
@hero-link-color:           lightslategray;
@hero-padding-v:              @base-large-xx;
@hero-text-color:             inherit;

// Site-Specific
// =============================================================================  