/* =============================================================================
// Site : Components : Layouts
// ===========================================================================*/

.section {
  .cf;
  padding-left: @base-medium;
  padding-right: @base-medium;
}

.group {
  max-width: 1360px;
  margin: 0 auto;
  &--doc {
    max-width: 816px;
  }
}
