.menu-main,
.menu-resume {
  @media @break-primary {
    display: none;
  }
  @media @break-primary-up {
    .mix-list-inline(
      @list-type: links,
      @pad-top: 0.4em,
      @pad-right: 14px,
      @pad-btm: 0.4em,
      @pad-left: 14px,
      @align: center
    );
  }
}

.menu-main__menu,
.menu-resume__menu {
  a {
    color: @color-blue-dark;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.05em;
    font-size: 15px;
  }
}

.menu-main__menu {
  a {
    position: relative;
    &:before {
      content: '';
      display: block;
      position: absolute;
      z-index: -1;
      bottom: 8px;
      height: 7px;
      background-color: transparent;
      transition: 0.3s ease-out;
      transition-property: background-color,border-color,box-shadow,height, right;
      left: 14px;
      right: calc(102% - 14px);
    }
  }
  a.active {
    position: relative;
    &::before {
      right: 14px;
      // transition-property: background-color,border-color,box-shadow,height, right;
      background-color: darken(#e1f0fb, 7%);
    }
  }
}

.menu-resume__menu {
  @media @break-primary-up {
    text-align: right;
  }
}


// =============================================================================
// Menu Mobile
// =============================================================================


.menu-mobile {
  @media @break-primary-up { display: none; }
  position: relative;
}
.menu-mobile__toggle {
  float: right;
}
.menu-mobile__content {
  &[data-collapsible*="open: false"] {
    display: none;
  }
  &[data-collapsible*="open: true"] {
    display: block;
  }
  position: absolute;
  background: white;
  left: auto;
  right: 0;
  padding: @base-medium;
  box-shadow: 3px 5px 30px 0 rgba(0,0,0,0.15);
}