.header {
  background-color: lighten(#e1f0fb, 4%);
  border-bottom: 1px solid #e1f0fb;
  // @section-hero-bg();
  padding-top: 20px;
  padding-bottom: 20px;
  &__logo {
    // margin: 0 auto;
    width: 423px / @logo-size-multiplier;
    height: 198px / @logo-size-multiplier;
    svg path {
      fill: @color-blue;
    }
  }
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;

  transition: background 0.3s ease-out;
  // transition: padding 0.3s ease;

  &.active {
    background: white;
    // padding-top: 10px;
    // padding-bottom: 10px;
    transition: background 0.3s ease-in;
    // transition: padding 0.3s ease;
  }
}
#about {
  margin-top: 80px;
}