/*==========================================================================
ICONS
==========================================================================*/

// Description:     Icon Font Mixins
// Version:         2.0.0

// Mixin so you can mixin icons anywhere. (variables set in config)

.mix-icon(
  @name, 
  @color: inherit, 
  @size: @icon-font-size-medium, 
  @v-align: @icon-valign
  ) {
  &:extend(.i-defaults);
  font-size: @size;
  color: @color;
  vertical-align: @v-align;
 .hook--mix-icon(@name);
}
// Just content value
.mix-icon-name(@name) {
  &:extend(.i-defaults);
  .hook--mix-icon(@name);
}

.mix-icon-size(@class-name, @size, @pos, @v-align: @icon-valign, @margin: @base-small-xx) when (@pos = before) {
  .i-@{class-name} {
    &:after { content: none; } // Remove After
    &:before {
      &:extend(.i-defaults);
      font-size: @size;
      margin-right: @margin;
      vertical-align: @v-align;
    }
  }
}

.mix-icon-size(@class-name, @size, @pos, @v-align: @icon-valign, @margin: @base-small-xx) when (@pos = after) {
  .i-@{class-name} {
    &:before { content: none; } // Remove Before
    &:after {
      &:extend(.i-defaults);
      font-size: @size;
      margin-left: @margin;
      vertical-align: @v-align;
    }
  }
}

.mix-icon-class(@name) {
  @class: e(@name);
  .i-@{class} {
    &:before, &:after { 
      .hook--mix-icon(@name);
    }
  }
}