{{ define "hero" }}
  <div id="intro" class="section section--hero scrollpoint">
    <div class="group">
      <div class="hero">
        <div class="hero__text">
          <h1 class="h1 t-blue-dark t-bold">Front-End & Web Developer</h1>
          <strong class="h2 t-normal">Lex Semenenko</strong>
        </div>
        {{/* <img class="hero__computer" src="/img/kisspng-1.png" alt=""> */}}
        <div class="hero__menu">
          <div class="scrollpoint--menu-anchor">
            <ul class="menu-scroll scrollpoints-watch--menu">
              <li data-scrollpoint-watch="intro"><a href="/#intro">Intro</a></li>
              <li data-scrollpoint-watch="about"><a href="/#about">About</a></li>
              <li data-scrollpoint-watch="projects"><a href="/#projects">Projects</a></li>
              <li data-scrollpoint-watch="contact"><a href="/#contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}
{{ define "menu-anchor" }}
{{ end }}
{{ define "content" }}
  <div id="about" class="section section--lines  scrollpoint">
    <div class="group">
      <h2 class="h2 h2__block"><span>About</span></h2>
      <div data-grid="columns: 12">
        <div data-grid-item="width: 12, width-large: 6">
          <p class="t-large">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris libero tortor, pellentesque fringilla mi id, convallis varius urna. Fusce varius malesuada metus et consequat. Aenean interdum lacinia blandit.<p>
        </div>
      </div>
    </div>
  </div>
  <div id="projects" class="section section--lines section--muted scrollpoint">
    <div class="group">
      <h2 class="h2 h2__block"><span>Projects</span></h2>
      <div data-grid="columns: 12, gutters-row: true">
        <div data-grid-item="width: 9, width-large: 6, width-large-x: 4">
          <div class="project__item">
            <div class="overlay overlay--toggle" data-collapsible="open: false">
              <img class="project__image"src="/img/placeholder--project-2.jpg">
              <div class="overlay__content project__item" data-collapsible="open: false">
                <h3 class="project__name">Combatting Cybercrime</h3>
                <p class="project__detail">World Bank</p>
                <p class="project__description">Project completed at Informatics Studio. Front-End & Static Site Generator development.</p>
                <a href="http://www.combattingcybercrime.org" target="_blank">View</a>
              </div>
              <button class="overlay__toggle" data-collapsible="open: false"><span>Open</span></button>
            </div>
          </div>
        </div>
        <div data-grid-item="width: 9, width-large: 6, width-large-x: 4">
          <div class="overlay overlay--toggle" data-collapsible="open: false">
            <img class="project__image"src="/img/placeholder--project-2.jpg">
            <div class="overlay__content" data-collapsible="open: false">
              <p>Skills Used: HTML, CSS, JavaScript, Libraries, Hugo, jQuery</p>
            </div>
            <button class="overlay__toggle" data-collapsible="open: false"><span>Open</span></button>
          </div>
        </div>
        <div data-grid-item="width: 6, width-large: 4">
        </div>
      </div>
    </div>
  </div>
  <div id="contact" class="section section--lines-dark  scrollpoint">
    <div class="group">
      <h2 class="h2 h2__block"><span>Contact</span></h2>
      <div data-grid="columns: 12">
        <div data-grid-item="width: 6">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<p>
          <form name="contact" netlify>
            <div class="form-item">
              <label for="item_id">Name</label>
              <input id="item_id" type="text" value="">
            </div>
            <div class="form-item">
              <label for="item_id">Email</label>
              <input id="item_id" type="email" value="">
            </div>
            <div class="form-item">
              <label for="form_item_id">Your Message</label>
              <textarea></textarea>
            </div>
            <button type="submit">Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{{ end }}