
{{ define "hero" }}
  <div class="secton section--hero">
    <div class="group">
        <div data-grid="columns: 12">
          <div data-grid-item="width: 6">
            <h1 class="h1">Hello, <span class="t-blue">I'm Lex Semenenko</span></h1>
            <p class="t-large">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris libero tortor, pellentesque fringilla mi id, convallis varius urna.</p>
          </div>
        </div>
    </div>
  </div>
{{ end }}

{{ define "content" }}
<div class="section section--lines">
  <div class="group">
    <div data-grid="columns: 12">
      <div data-grid-item="width: 6">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris libero tortor, pellentesque fringilla mi id, convallis varius urna. Fusce varius malesuada metus et consequat. Aenean interdum lacinia blandit.<p>
      </div>
      <div data-grid-item="width: 6">

      </div>
    </div>
  </div>
</div>
{{ end }}